<div class="flex flex-col items-center mb-10">
  <%%= form_with(
    model: <%= @model_name_underscore %>,
    local: true,
    data: local_assigns[:form_data],
    class: "w-3/4"
  ) do |form| %>
<% @columns.select { |column| ["integer", "string"].include?(column["type"]) }.map do |column| -%>
    <div class="flex flex-col mb-4">
      <%%= form.label :<%= column["display_name"] || column["name"] %>, required: true, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%%= form.text_field :<%= column["display_name"] || column["name"] %>, class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
<% end -%>
<% @columns.select { |column| column["type"] == "text" }.map do |column| -%>
    <div class="flex flex-col mb-4">
      <%%= form.label :<%= column["name"] %>, required: true, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%%= form.text_area :<%= column["name"] %>, class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
    </div>
<% end -%>
<% @columns.select { |column| column["type"] == "reference" }.map do |column| -%>
    <div class="flex flex-col mb-4">
      <%%= form.label :<%= column["name"] %>, required: true, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%%= form.select :<%= column["name"] %>_id, <%= (column["class_name"] || column["name"]).camelize %>.all.collect { |<%= column["name"] %>| [<%= column["name"] %>.<%= column["display_field"] %>, <%= column["name"] %>.id] }, { prompt: "Select a <%= column["name"] %>" } %>
    </div>
<% end -%>

    <%%=
      form.submit(
        "Save",
        class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold mt-4 py-2 px-4 rounded cursor-pointer",
        data: local_assigns[:submit_data] || {}
      )
    %>
  <%% end %>
</div>
