<h1 class="text-4xl font-bold text-center"><%= @model_name_plural.titleize %></h1>
<%%= render 'mobile_list', <%= @model_name_plural %>: @<%= @model_name_plural %> %>
<%%= render 'full_table', <%= @model_name_plural %>: @<%= @model_name_plural %> %>
